<script type="text/ng-template" id="tree-renderer.html">
    <md-item>
        <div ui-sref-active="md-primary active" ng-class="{'md-whiteframe-z1': $root.isIncludedActiveState(menuItem.state) && menuItem.children}">
            <md-item-content>
                <md-button class="menu-item-button" ui-sref="{{ menuItem.state }}">
                    <ng-md-icon class="menu-item-button-icon" ng-class="{'transparent-md-icon': !menuItem.icon}" icon="{{ menuItem.icon }}" size="32"></ng-md-icon>
                    <span class="menu-item-button-text">{{ menuItem.name }}</span>
                    <ng-md-icon ng-if="menuItem.children" class="menu-item-button-icon" style="float: right" icon="expand_more" size="32"></ng-md-icon>
                </md-button>
            </md-item-content>
            <div ng-if="$root.isIncludedActiveState(menuItem.state)">
                <md-list ng-repeat="menuItem in menuItem.children" ng-include="'tree-renderer.html'"></md-list>
            </div>
        </div>
    </md-item>
</script>

<md-list ng-repeat="menuItem in $root.projectInfo.menu" ng-include="'tree-renderer.html'" ng-controller="JchMenuItemsCtrl"></md-list>
