<div id="videos" class="full-screen" layout="column" layout-align="center center" style="background-color: black">
  <!--<video ng-src="{{ videoSrc | trusted}}" width="100%" height="auto" muted="true" controls autoplay></video>-->
  <!--<md-button class="md-fab md-raised md-warn" ng-click="endCall()" style="position: fixed; right: 32px; bottom: 32px;">END</md-button>-->
</div>

<md-button class="md-fab" ng-if="videoAvailable" aria-label="End playback" style="position: fixed; bottom: 64px; right: 64px; background-color: red" ng-click="endCall()">
  <ng-md-icon icon="call_end" size="36" style="fill: white"></ng-md-icon>
</md-button>

<div ng-if="!videoAvailable" class="full-screen" layout="column" layout-align="center center"
     style="background-color: rgb(0,188,212)">
  <md-card style="background-color: white">
    <md-card-content>
      <h2 id="progressContainer">Connecting...</h2>
    </md-card-content>
  </md-card>
</div>
